.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 10;
    height: 3rem;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-right p 
{
    cursor: pointer;
}

.burger
{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    display: none;
}

.line1,
.line2
{
    width: 2.5rem;
    height: .2rem;
    background: #17181a;
}

.modal 
{
    position: absolute;
    top: 3rem;
    right: 0rem;
    background: white;
    padding: 1rem;
    border: 1px solid #17181a;
    z-index: 20;
    max-width: 600px;
}

.cart-count 
{
    width: 1.5rem;
}

@media screen and (max-width: 768px)
{
    .burger
    {
        display: flex;
        cursor: pointer;
    }

    .nav-left
    {
        display: none;
    }

    .navbar
    {
        position: relative;
    }

    .mobile-nav
    {
        position: fixed;
        top: 3rem;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        display: flex;
        transition: all .3s ease;
        flex-direction: column;
        justify-content: center;
        background: rgba(237, 235, 235, 0.9);
        backdrop-filter: blur(8px);
        align-items: center;
        z-index: 8;
        gap: 1rem;
    }
    .left,
    .right 
    {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}
